@model Car
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<div class="list-group">
    <ul class="list-group">
        <li class="list-group-item"> Id: @Model.Id  </li>
        <li class="list-group-item"> Year: @Model.Year  </li>
        <li class="list-group-item"> Ban: @Model.Ban  </li>
    </ul>
</div>