@model List<Marka>
@{
    ViewData["Title"] = "Index";
}

<h1>Marka</h1>

<div class="list-group">
    <ul class="list-group">
        @foreach(Marka marka in Model)
        {
            <li class="list-group-item">
                <a asp-controller="Car" asp-action="Index" asp-route-id="@marka.Id">
                    @marka.Name

            </a></li>
        }
    </ul>
</div>