@model Detail
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<div class="list-group">
    <ul class="list-group">
        <li class="list-group-item"> Color: @Model.color  </li>
        <li class="list-group-item"> Ban: @Model.ban  </li>
    </ul>
</div>